@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
  --theme-50: 105 105 105;
  --theme-100: 84 84 84;
  --theme-200: 75 75 75;
  --theme-300: 69 69 69;
  --theme-400: 64 64 64;
  --theme-500: 53 53 53;
  --theme-600: 39 39 39;
  --theme-700: 26 26 26;
  --theme-800: 18 18 18;
  --theme-900: 4 4 4;
  --text: 255 255 255;
}

.light {
  --theme-50: 169 169 169;
  --theme-100: 158 158 158;
  --theme-200: 152 152 152;
  --theme-300: 149 149 149;
  --theme-400: 146 146 146;
  --theme-500: 140 140 140;
  --theme-600: 131 131 131;
  --theme-700: 124 124 124;
  --theme-800: 120 120 120;
  --theme-900: 113 113 113;
  --text: 0 0 0;
}

:root {
  --branding: 92 97 149;
  --branding-dark: 82 87 139;
  --branding-light: 102 107 159;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--theme-500));
  color: rgb(var(--text));
  min-height: 100vh;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--branding));
}